.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-lg);
  padding: var(--spacing-xl) 0;
}
.formContainer > h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formContainer > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkContainer {
  display: flex;
  gap: 10px;
}
.checkContainer > input {
  width: 20px;
}
@media (max-width: 575px) {
  .formContainer > h2 {
    margin: 0 auto;
  }
}