.container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: var(--spacing-md) 0;
}
.ideaContainer {
  background-color: var(--bg-secondary);
  border-radius: 10px;
  flex: 2;
  padding: var(--spacing-md);
}
.comments {
  background-color: var(--bg-secondary);
  flex: 1;
  border-radius: 10px;
  padding: var(--spacing-md);
}


.top {
  display: flex;
  justify-content: space-between;
}
.creator {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: var(--font-medium);
  transition: color 0.5s ease;
  font-weight: 500;
}
.creator > img {
  transition: border-radius 0.5s ease;

}
.creator:hover {
  color: var(--secondary-color);
}
.creator:hover > img {
  border-radius: 6px
}
.avatar {
  height: 25px;
  width: 25px;
  border-radius: 20px;
}
.unique {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: var(--font-small);
  color: var(--secondary-color);
}