.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  padding: var(--spacing-md);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  
}
.item1 {
  transition: color 0.3s ease;
}
.item1:hover {
  color: var(--secondary-color);
}
.nothinghere {
  width: 200px;
  border-radius: 5px;
  align-self: center;
  margin-top: 20px;
}