.categoryList {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.categoryItem {
  padding: 8px 16px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.categoryItem:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

.categoryItem.selected {
  background-color: var(--success-color);
  color: white;
}
