.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}
.content {
  flex: 1;
  padding: 0 var(--spacing-xxxl);
}
@media (max-width: 1000px) {
  .content {
    padding: 0 var(--spacing-xl);
  }
}
@media (max-width: 768px) {
  .content {
    padding: 0 var(--spacing-lg);
  }
}
@media (max-width: 575px) {
  .content {
    padding: 0 var(--spacing-sm);
  }
}